{% extends "navbar.html" %}
{% block head %}
  <link href="{{ url_for('static', filename='css/rounded.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/jquery-ui-1.10.4.custom.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
  <span id="display1" style="float: left;"></span>
  <span id="display2" style="float: right;"></span>
{% endblock %}
{% block scripts %}
  <script>
    window.onload = function() {
      $("#display1").html ("").load("/card?id={{ cards[0] }}");
      $("#display2").html ("").load("/card?id={{ cards[1] }}", function() {

        $("input").button().click(function (event) {
          $.post( "buttonsubmit", { button: this.id}, function(data) {
            jsondata = JSON.parse(data);
            $("#display"+(jsondata.won+1)).effect("highlight", "linear", 1000);
            $("#display1").delay(1000);
            $("#display1").fadeOut('fast', function() {
              $("#display1").html ("").load("/card?id="+jsondata.cardids[0], function() {
                $("#display1").fadeIn('fast')
              });
            });
            $("#display2").delay(1000);
            $("#display2").fadeOut('fast', function() {
              $("#display2").html ("").load("/card?id="+jsondata.cardids[1], function() {
                $("#display2").fadeIn('fast')
              });
            });
          });
        });
      });
    };
  </script>

{% endblock %}
