{% extends "navbar.html" %}
{% block head %}
  <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/jquery-ui-1.10.4.custom.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
  <div class="progress_outer" style="float: left; margin-top: 9px;">
    <div class="progress_inner" id = "progress1"></div>        
  </div>

  <div class="progress_outer" style="float: right; margin-top: 9px;">
    <div class="progress_inner" id = "progress2"></div>
  </div>

  <div id="wrapper" class="flip-container" style="float: right;">
    <div class="flipper">
      <div class="front">
        <div id="cardback", class = "outline shadow rounded", style = "width: 23em; height: 33em; background-color: #0B369C;">
	  <img border="0" src="im/ebang.png" alt="e!">
	</div>
      </div>
      <div class="back">
	<span id="display2"></span>
      </div>
    </div>
  </div>

  <span id="display1" style="float: left;"></span>
{% endblock %}
{% block scripts %}
  <script>
    function submitMove(buttonid, turn) { //Support AJAX
      $("input").prop("disabled",true);
      $.post( "buttonsubmit", { button: buttonid, turn: turn}, function(data) { // When clicked, submit data
        jsondata = JSON.parse(data); // Parse return
//        alert(jsondata.cards+" "+jsondata.maxcards);
        if (jsondata.cards == jsondata.maxcards) {
          document.location.href = '/youwon';
          }
        if (jsondata.cards == 0) {
          document.location.href = '/youlost';
          }

        $("#progress1").animate({height: (jsondata.cards/jsondata.maxcards*100.0)+"%"}, 500);
        $("#progress2").animate({height: (100-(jsondata.cards/jsondata.maxcards*100.0))+"%"}, 500);

        $("#cardborder_"+(jsondata.won+1)).animate({backgroundColor: "#7BA6FC"}, 500); // Flash the winner
        $("#cardborder_"+(jsondata.won+1)).animate({backgroundColor: "#0B369C"}, 500); // ^
        $("#display1").delay(1000); // Wait for completion
        $("#display1").fadeOut('fast', function() { // Fade out
          $("#display1").html ("").load("/card?id="+jsondata.cardids[0], function() { // Load new image
            $("#display1").fadeIn('fast') // Fade in
            });
          });
        $("#wrapper").addClass("flip")
        $("#display2").delay(1000); // Repeat for display 2
        $("#display2").fadeOut('fast', function() {
          if (jsondata.aiturn) {
            $("#button_"+jsondata.cardids[1]+"_"+jsondata.aimove+"_b").addClass("ui-state-active");
            $("#button_"+jsondata.cardids[1]+"_"+jsondata.aimove+"_b").removeClass("ui-state-default");
            setTimeout(function() {submitMove("button_"+jsondata.cardids[1]+"_"+jsondata.aimove, 1); }, 2000);
            }
          else {
            $("input").prop("disbled",false);
            $("#wrapper").removeClass("flip")
            }
          $("#display2").html ("").load("/card?id="+jsondata.cardids[1], function() {
            $("#display2").fadeIn('fast');
            });          
          });
        });    
      }


    window.onload = function() {
      $("#display1").html ("").load("/card?id={{ cards[0] }}"); // load cards for first time
      $("#display2").html ("").load("/card?id={{ cards[1] }}"); // ^
      $("input").button(); //Create all buttons
      $("body").on("click", "input", {buttonid: this.id}, function() {submitMove(this.id, 0);});
    }
  </script>

{% endblock %}
