{% set inner_width = 17.8 %}

{% extends "navbar.html" %}
{% block head %}
  <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/jquery-ui-1.10.4.custom.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
<h3>Click the cutest!</h3>
<div id="image0"></div>
<div id="image1"></div>
{% endblock %}
{% block scripts %}
<script>
  function onClick(index) {
    $("#image0").fadeOut('fast');    
    $("#image0").html ("").load("/cute_card?index="+index+"&option=0", function() {
      $("#image0").fadeIn('fast');
      });

    $("#image1").fadeOut('fast');
    $("#image1").html ("").load("/cute_card?index="+index+"&option=1", function() {
      $("#image1").fadeIn('fast');
      });
    }

  onClick({{ index }});
</script>
{% endblock %}
